In [1]:
import re
import pandas as pd

# Basic data cleaning.

In [2]:
dataset1 = pd.read_csv('data/Input1_clientes_estructura.csv', sep=';')
dataset2 = pd.read_csv('data/Input2_clientes_venta.csv', sep=';')

In [3]:
dataset1.dtypes, dataset2.dtypes

(Cliente       int64
 Regional2    object
 Gerencia2    object
 SubCanal2    object
 Categoria    object
 Nevera        int64
 dtype: object,
 Año                   int64
 Mes                   int64
 Cliente               int64
 SegmentoPrecio2      object
 Marca2               object
 Cupo2                object
 CapacidadEnvase2     object
 Volumen             float64
 disc                float64
 nr                  float64
 dtype: object)

In [4]:
dataset1['Nevera'] = dataset1['Nevera'].astype('category')

dataset2['Año'] = dataset2['Año'].astype('category')
dataset2['Mes'] = dataset2['Mes'].astype('category')

In [5]:
dataset1.describe(exclude='int64')

         Regional2    Gerencia2   SubCanal2    Categoria  Nevera
count        20921        20921       20921        20921   20921
unique           1           11          32            6       2
top     Regional 1  Gerencia_10  Subcanal_3  Categoria_2       0
freq         20921         5441        8217         8773   12598

In [6]:
dataset2.describe(exclude=['int64', 'float64'])

,Año,Mes,SegmentoPrecio2,Marca2,Cupo2,CapacidadEnvase2
count,1406116,1406116,1406116,1406116,1406116,1406116
unique,2,12,3,39,5,17
top,2020,8,SegmentoPrecio_1,Marca_1,Cupo_2,CapacidadEnvase_10
freq,728490,184666,991679,406526,786172,707919

In [7]:
dataset2.describe()

            Cliente       Volumen          disc            nr
count  1.406116e+06  1.406116e+06  1.406116e+06  1.406116e+06
mean   8.328064e+03  2.294363e-01 -1.335855e+02  1.704834e+03
std    4.906400e+03  1.395798e+00  1.491833e+03  1.047079e+04
min    1.000000e+00  0.000000e+00 -4.794567e+05  0.000000e+00
25%    4.148000e+03  2.173441e-02 -2.877037e+01  1.778085e+02
50%    8.097000e+03  5.268947e-02  0.000000e+00  4.233184e+02
75%    1.231800e+04  1.496381e-01  0.000000e+00  1.117963e+03
max    2.058000e+04  3.000000e+02  0.000000e+00  2.302965e+06

In [8]:
data = dataset2.merge(dataset1)
data.head()

,Año,Mes,Cliente,SegmentoPrecio2,Marca2,Cupo2,CapacidadEnvase2,Volumen,disc,nr,Regional2,Gerencia2,SubCanal2,Categoria,Nevera
0,2019,5,10,SegmentoPrecio_1,Marca_1,Cupo_1,CapacidadEnvase_12,0.112229,-30.590603,900.328567,Regional 1,Gerencia_3,Subcanal_1,Categoria_2,1
1,2019,5,10,SegmentoPrecio_1,Marca_2,Cupo_2,CapacidadEnvase_10,0.021734,0.000000,149.184463,Regional 1,Gerencia_3,Subcanal_1,Categoria_2,1
2,2019,5,10,SegmentoPrecio_2,Marca_3,Cupo_2,CapacidadEnvase_10,0.043469,0.000000,359.625828,Regional 1,Gerencia_3,Subcanal_1,Categoria_2,1
3,2019,5,10,SegmentoPrecio_1,Marca_1,Cupo_2,CapacidadEnvase_16,0.026345,-31.065261,134.748399,Regional 1,Gerencia_3,Subcanal_1,Categoria_2,1
4,2019,5,10,SegmentoPrecio_1,Marca_4,Cupo_2,CapacidadEnvase_10,0.086938,0.000000,496.901005,Regional 1,Gerencia_3,Subcanal_1,Categoria_2,1

In [9]:
data = data.drop('Regional2', axis=1)
data = data.drop(data[data['nr'] <= 0].index, axis=0)
data.head()

,Año,Mes,Cliente,SegmentoPrecio2,Marca2,Cupo2,CapacidadEnvase2,Volumen,disc,nr,Gerencia2,SubCanal2,Categoria,Nevera
0,2019,5,10,SegmentoPrecio_1,Marca_1,Cupo_1,CapacidadEnvase_12,0.112229,-30.590603,900.328567,Gerencia_3,Subcanal_1,Categoria_2,1
1,2019,5,10,SegmentoPrecio_1,Marca_2,Cupo_2,CapacidadEnvase_10,0.021734,0.000000,149.184463,Gerencia_3,Subcanal_1,Categoria_2,1
2,2019,5,10,SegmentoPrecio_2,Marca_3,Cupo_2,CapacidadEnvase_10,0.043469,0.000000,359.625828,Gerencia_3,Subcanal_1,Categoria_2,1
3,2019,5,10,SegmentoPrecio_1,Marca_1,Cupo_2,CapacidadEnvase_16,0.026345,-31.065261,134.748399,Gerencia_3,Subcanal_1,Categoria_2,1
4,2019,5,10,SegmentoPrecio_1,Marca_4,Cupo_2,CapacidadEnvase_10,0.086938,0.000000,496.901005,Gerencia_3,Subcanal_1,Categoria_2,1

In [10]:
data_original = data.copy()
data = data.drop(['Volumen', 'disc', 'nr'], axis=1)
data.head()

,Año,Mes,Cliente,SegmentoPrecio2,Marca2,Cupo2,CapacidadEnvase2,Gerencia2,SubCanal2,Categoria,Nevera
0,2019,5,10,SegmentoPrecio_1,Marca_1,Cupo_1,CapacidadEnvase_12,Gerencia_3,Subcanal_1,Categoria_2,1
1,2019,5,10,SegmentoPrecio_1,Marca_2,Cupo_2,CapacidadEnvase_10,Gerencia_3,Subcanal_1,Categoria_2,1
2,2019,5,10,SegmentoPrecio_2,Marca_3,Cupo_2,CapacidadEnvase_10,Gerencia_3,Subcanal_1,Categoria_2,1
3,2019,5,10,SegmentoPrecio_1,Marca_1,Cupo_2,CapacidadEnvase_16,Gerencia_3,Subcanal_1,Categoria_2,1
4,2019,5,10,SegmentoPrecio_1,Marca_4,Cupo_2,CapacidadEnvase_10,Gerencia_3,Subcanal_1,Categoria_2,1

In [11]:
data[data['Mes'] == 10]

,Año,Mes,Cliente,SegmentoPrecio2,Marca2,Cupo2,CapacidadEnvase2,Gerencia2,SubCanal2,Categoria,Nevera
26,2019,10,10,SegmentoPrecio_1,Marca_5,Cupo_2,CapacidadEnvase_10,Gerencia_3,Subcanal_1,Categoria_2,1
27,2019,10,10,SegmentoPrecio_1,Marca_4,Cupo_2,CapacidadEnvase_10,Gerencia_3,Subcanal_1,Categoria_2,1
28,2019,10,10,SegmentoPrecio_1,Marca_1,Cupo_2,CapacidadEnvase_10,Gerencia_3,Subcanal_1,Categoria_2,1
50,2019,10,10,SegmentoPrecio_3,Marca_9,Cupo_3,CapacidadEnvase_12,Gerencia_3,Subcanal_1,Categoria_2,1
52,2019,10,10,SegmentoPrecio_1,Marca_1,Cupo_2,CapacidadEnvase_16,Gerencia_3,Subcanal_1,Categoria_2,1
...,...,...,...,...,...,...,...,...,...,...,...
1404224,2019,10,8393,SegmentoPrecio_1,Marca_1,Cupo_2,CapacidadEnvase_10,Gerencia_8,Subcanal_5,Categoria_3,1
1404225,2019,10,8393,SegmentoPrecio_2,Marca_6,Cupo_2,CapacidadEnvase_10,Gerencia_8,Subcanal_5,Categoria_3,1
1404229,2019,10,8393,SegmentoPrecio_1,Marca_4,Cupo_2,CapacidadEnvase_10,Gerencia_8,Subcanal_5,Categoria_3,1
1404250,2019,10,11115,SegmentoPrecio_1,Marca_1,Cupo_2,CapacidadEnvase_16,Gerencia_2,Subcanal_3,Categoria_1,0
1404258,2019,10,11115,SegmentoPrecio_1,Marca_4,Cupo_2,CapacidadEnvase_10,Gerencia_2,Subcanal_3,Categoria_1,0