In [1]:
import pandas as pd

In [6]:
dataset1 = pd.read_csv('../data/Input1_clientes_estructura.csv', sep=';')
dataset1.sample(10)

       Cliente   Regional2    Gerencia2    SubCanal2    Categoria  Nevera
12238    12239  Regional 1   Gerencia_8   Subcanal_3  Categoria_4       0
10252    10253  Regional 1  Gerencia_10  Subcanal_10  Categoria_3       1
7184      7185  Regional 1   Gerencia_9   Subcanal_3  Categoria_5       0
18779    18780  Regional 1   Gerencia_6   Subcanal_3  Categoria_2       0
9685      9686  Regional 1  Gerencia_10   Subcanal_1  Categoria_1       0
18909    18910  Regional 1   Gerencia_3   Subcanal_3  Categoria_2       0
1833      1834  Regional 1   Gerencia_9   Subcanal_5  Categoria_5       1
13907    13908  Regional 1   Gerencia_4   Subcanal_1  Categoria_2       1
13683    13684  Regional 1   Gerencia_9   Subcanal_4  Categoria_1       0
20851    20852  Regional 1   Gerencia_1  Subcanal_31  Categoria_2       0