In [1]:
import re
import pandas as pd

# Basic data cleaning.

In [2]:
dataset1 = pd.read_csv('data/Input1_clientes_estructura.csv', sep=';')
dataset2 = pd.read_csv('data/Input2_clientes_venta.csv', sep=';')

In [3]:
dataset1.dtypes, dataset2.dtypes

(Cliente       int64
 Regional2    object
 Gerencia2    object
 SubCanal2    object
 Categoria    object
 Nevera        int64
 dtype: object,
 Año                   int64
 Mes                   int64
 Cliente               int64
 SegmentoPrecio2      object
 Marca2               object
 Cupo2                object
 CapacidadEnvase2     object
 Volumen             float64
 disc                float64
 nr                  float64
 dtype: object)

In [4]:
# dataset1['Nevera'] = dataset1['Nevera'].astype('bool')
dataset1['Nevera'] = dataset1['Nevera'].astype('category')

dataset2['Año'] = dataset2['Año'].astype('category')
dataset2['Mes'] = dataset2['Mes'].astype('category')

In [5]:
dataset1.describe(exclude='int64')

         Regional2    Gerencia2   SubCanal2    Categoria  Nevera
count        20921        20921       20921        20921   20921
unique           1           11          32            6       2
top     Regional 1  Gerencia_10  Subcanal_3  Categoria_2       0
freq         20921         5441        8217         8773   12598

In [6]:
dataset2.describe(exclude=['int64', 'float64'])

,Año,Mes,SegmentoPrecio2,Marca2,Cupo2,CapacidadEnvase2
count,1406116,1406116,1406116,1406116,1406116,1406116
unique,2,12,3,39,5,17
top,2020,8,SegmentoPrecio_1,Marca_1,Cupo_2,CapacidadEnvase_10
freq,728490,184666,991679,406526,786172,707919

In [7]:
dataset2.describe()

            Cliente       Volumen          disc            nr
count  1.406116e+06  1.406116e+06  1.406116e+06  1.406116e+06
mean   8.328064e+03  2.294363e-01 -1.335855e+02  1.704834e+03
std    4.906400e+03  1.395798e+00  1.491833e+03  1.047079e+04
min    1.000000e+00  0.000000e+00 -4.794567e+05  0.000000e+00
25%    4.148000e+03  2.173441e-02 -2.877037e+01  1.778085e+02
50%    8.097000e+03  5.268947e-02  0.000000e+00  4.233184e+02
75%    1.231800e+04  1.496381e-01  0.000000e+00  1.117963e+03
max    2.058000e+04  3.000000e+02  0.000000e+00  2.302965e+06

In [8]:
data = dataset2.merge(dataset1)
data.head()

,Año,Mes,Cliente,SegmentoPrecio2,Marca2,Cupo2,CapacidadEnvase2,Volumen,disc,nr,Regional2,Gerencia2,SubCanal2,Categoria,Nevera
0,2019,5,10,SegmentoPrecio_1,Marca_1,Cupo_1,CapacidadEnvase_12,0.112229,-30.590603,900.328567,Regional 1,Gerencia_3,Subcanal_1,Categoria_2,1
1,2019,5,10,SegmentoPrecio_1,Marca_2,Cupo_2,CapacidadEnvase_10,0.021734,0.000000,149.184463,Regional 1,Gerencia_3,Subcanal_1,Categoria_2,1
2,2019,5,10,SegmentoPrecio_2,Marca_3,Cupo_2,CapacidadEnvase_10,0.043469,0.000000,359.625828,Regional 1,Gerencia_3,Subcanal_1,Categoria_2,1
3,2019,5,10,SegmentoPrecio_1,Marca_1,Cupo_2,CapacidadEnvase_16,0.026345,-31.065261,134.748399,Regional 1,Gerencia_3,Subcanal_1,Categoria_2,1
4,2019,5,10,SegmentoPrecio_1,Marca_4,Cupo_2,CapacidadEnvase_10,0.086938,0.000000,496.901005,Regional 1,Gerencia_3,Subcanal_1,Categoria_2,1

In [9]:
data.describe(exclude=['int64', 'float64'])

,Año,Mes,SegmentoPrecio2,Marca2,Cupo2,CapacidadEnvase2,Regional2,Gerencia2,SubCanal2,Categoria,Nevera
count,1406116,1406116,1406116,1406116,1406116,1406116,1406116,1406116,1406116,1406116,1406116
unique,2,12,3,39,5,17,1,11,27,6,2
top,2020,8,SegmentoPrecio_1,Marca_1,Cupo_2,CapacidadEnvase_10,Regional 1,Gerencia_10,Subcanal_3,Categoria_2,1
freq,728490,184666,991679,406526,786172,707919,1406116,470904,567541,586357,866769

#### Lauri!
En dataset1 hay 32 tipos de Subcanal2, pero cuando hago el merge hay solo 27, 
creo (Efectivamente) que hay clientes que no estan en la data que nos enviaron #LaPrueba

In [10]:
#LaPrueba
dataset1.Cliente.isin(dataset2.Cliente)

0         True
1         True
2         True
3         True
4         True
         ...
20916    False
20917    False
20918    False
20919    False
20920    False
Name: Cliente, Length: 20921, dtype: bool

In [11]:
data = data.drop('Regional2', axis=1)

#### This is a Markdown because #LasCuentas
```python
data = data.drop(data[data['nr'] <= 0].index, axis=0)
data.head()```

In [12]:
data_original = data.copy()
data = data.drop(['Volumen', 'disc', 'nr'], axis=1)
data.head()

,Año,Mes,Cliente,SegmentoPrecio2,Marca2,Cupo2,CapacidadEnvase2,Gerencia2,SubCanal2,Categoria,Nevera
0,2019,5,10,SegmentoPrecio_1,Marca_1,Cupo_1,CapacidadEnvase_12,Gerencia_3,Subcanal_1,Categoria_2,1
1,2019,5,10,SegmentoPrecio_1,Marca_2,Cupo_2,CapacidadEnvase_10,Gerencia_3,Subcanal_1,Categoria_2,1
2,2019,5,10,SegmentoPrecio_2,Marca_3,Cupo_2,CapacidadEnvase_10,Gerencia_3,Subcanal_1,Categoria_2,1
3,2019,5,10,SegmentoPrecio_1,Marca_1,Cupo_2,CapacidadEnvase_16,Gerencia_3,Subcanal_1,Categoria_2,1
4,2019,5,10,SegmentoPrecio_1,Marca_4,Cupo_2,CapacidadEnvase_10,Gerencia_3,Subcanal_1,Categoria_2,1

### vv we can not use octuber 19

In [13]:
octuber = data[data['Mes'] == 10].query('(Marca2 == "Marca_20" and Cupo2 == "Cupo_3" and CapacidadEnvase2 == "CapacidadEnvase_9") \
                            or (Marca2 == "Marca_16" and Cupo2 == "Cupo_2" and CapacidadEnvase2 == "CapacidadEnvase_10")\
                            or (Marca2 == "Marca_9" and Cupo2 == "Cupo_3" and CapacidadEnvase2 == "CapacidadEnvase_12")\
                            or (Marca2 == "Marca_38" and Cupo2 == "Cupo_2" and CapacidadEnvase2 == "CapacidadEnvase_10")\
                            or (Marca2 == "Marca_39" and Cupo2 == "Cupo_2" and CapacidadEnvase2 == "CapacidadEnvase_10")'
                             )
octuber# .sort_values('Año')

,Año,Mes,Cliente,SegmentoPrecio2,Marca2,Cupo2,CapacidadEnvase2,Gerencia2,SubCanal2,Categoria,Nevera
50,2019,10,10,SegmentoPrecio_3,Marca_9,Cupo_3,CapacidadEnvase_12,Gerencia_3,Subcanal_1,Categoria_2,1
159,2019,10,12,SegmentoPrecio_3,Marca_9,Cupo_3,CapacidadEnvase_12,Gerencia_3,Subcanal_4,Categoria_4,1
377,2019,10,14,SegmentoPrecio_3,Marca_9,Cupo_3,CapacidadEnvase_12,Gerencia_3,Subcanal_1,Categoria_2,1
988,2019,10,35,SegmentoPrecio_3,Marca_9,Cupo_3,CapacidadEnvase_12,Gerencia_3,Subcanal_7,Categoria_2,0
1149,2019,10,40,SegmentoPrecio_3,Marca_9,Cupo_3,CapacidadEnvase_12,Gerencia_3,Subcanal_1,Categoria_4,1
...,...,...,...,...,...,...,...,...,...,...,...
1402228,2019,10,11752,SegmentoPrecio_2,Marca_16,Cupo_2,CapacidadEnvase_10,Gerencia_10,Subcanal_1,Categoria_4,1
1402967,2019,10,586,SegmentoPrecio_3,Marca_9,Cupo_3,CapacidadEnvase_12,Gerencia_4,Subcanal_2,Categoria_1,1
1403112,2019,10,1470,SegmentoPrecio_3,Marca_9,Cupo_3,CapacidadEnvase_12,Gerencia_8,Subcanal_13,Categoria_2,1
1403118,2019,10,1470,SegmentoPrecio_2,Marca_16,Cupo_2,CapacidadEnvase_10,Gerencia_8,Subcanal_13,Categoria_2,1
1403796,2019,10,3998,SegmentoPrecio_3,Marca_9,Cupo_3,CapacidadEnvase_12,Gerencia_10,Subcanal_3,Categoria_2,1

In [14]:
test_octuber = pd.read_csv('data/Input3_clientes_test.csv', sep=';')
test_octuber['Cliente'].isin(octuber['Cliente'])

0        True
1        True
2        True
3       False
4       False
        ...
9297    False
9298    False
9299    False
9300    False
9301    False
Name: Cliente, Length: 9302, dtype: bool

> A lot of missing data, 4550 of 9302

### Output data

In [15]:
output = pd.DataFrame()

In [16]:
Marca1 = data.Cliente.isin(data.loc[
    (data['Marca2'] == 'Marca_20') & 
    (data['Cupo2'] == 'Cupo_3') & 
    (data['CapacidadEnvase2'] == 'CapacidadEnvase_9')].index)
Marca2 = data.Cliente.isin(data.loc[
    (data['Marca2'] == 'Marca_16') & 
    (data['Cupo2'] == 'Cupo_2')  & 
    (data['CapacidadEnvase2'] == 'CapacidadEnvase_10')].index)
Marca3 = data.Cliente.isin(data.loc[
    (data['Marca2'] == 'Marca_9') & 
    (data['Cupo2'] == 'Cupo_3')  & 
    (data['CapacidadEnvase2'] == 'CapacidadEnvase_12')].index)
Marca_Inno1 = data.Cliente.isin(data.loc[
    (data['Marca2'] == 'Marca_38') & 
    (data['Cupo2'] == 'Cupo_2')  & 
    (data['CapacidadEnvase2'] == 'CapacidadEnvase_10')].index)
Marca_Inno2 = data.Cliente.isin(data.loc[
    (data['Marca2'] == 'Marca_39') & 
    (data['Cupo2'] == 'Cupo_2')  & 
    (data['CapacidadEnvase2'] == 'CapacidadEnvase_10')].index)

In [17]:
type(Marca_Inno2)

pandas.core.series.Series

In [18]:
output['Cliente'] = data.Cliente

probability = lambda x: 1 if x else 0

output['Marca1'] = Marca1.apply(probability).astype('category')
output['Marca2'] = Marca2.apply(probability).astype('category')
output['Marca3'] = Marca3.apply(probability).astype('category')
output['Marca_Inno1'] = Marca_Inno1.apply(probability).astype('category')
output['Marca_Inno2'] = Marca_Inno2.apply(probability).astype('category')

In [19]:
output.describe(exclude='int64')

         Marca1   Marca2   Marca3  Marca_Inno1  Marca_Inno2
count   1406116  1406116  1406116      1406116      1406116
unique        2        2        2            2            2
top           0        0        0            0            0
freq    1404453  1383112  1352491      1405260      1405675

In [20]:
data.shape, output.shape

((1406116, 11), (1406116, 6))

#### #LasCuentas

In [21]:
1401081-1399423,1401081-1378172,1401081-1347623,1401081-1400229,1401081-1400857

(1658, 22909, 53458, 852, 224)

In [22]:
1406116-1404453,1406116-1383112,1406116-1352491,1406116-1405260,1406116-1405675

(1663, 23004, 53625, 856, 441)

### Output it is ready mona!

In [23]:
data.describe(exclude='int64')

,Año,Mes,SegmentoPrecio2,Marca2,Cupo2,CapacidadEnvase2,Gerencia2,SubCanal2,Categoria,Nevera
count,1406116,1406116,1406116,1406116,1406116,1406116,1406116,1406116,1406116,1406116
unique,2,12,3,39,5,17,11,27,6,2
top,2020,8,SegmentoPrecio_1,Marca_1,Cupo_2,CapacidadEnvase_10,Gerencia_10,Subcanal_3,Categoria_2,1
freq,728490,184666,991679,406526,786172,707919,470904,567541,586357,866769

### Esto se demora como 4 minutos procesando en mi pc

In [24]:
categories = ['Año', 'Mes', 'SegmentoPrecio2', 'Marca2', 'Cupo2',
       'CapacidadEnvase2', 'Gerencia2', 'SubCanal2', 'Categoria']
for category in categories:
    new_cols = list(data[category].unique())
    print(len(new_cols), new_cols)# Puse este print aquí por aquello de #LaPrueba
    for col in new_cols:
        data[str(col)] = pd.Series(data[category].index.isin(data[data[category] == col].index)).apply(probability).astype('category')
    data = data.drop(category, axis=1)

2 [2019, 2020]
12 [5, 6, 7, 9, 8, 10, 11, 12, 1, 2, 3, 4]
3 ['SegmentoPrecio_1', 'SegmentoPrecio_2', 'SegmentoPrecio_3']
39 ['Marca_1', 'Marca_2', 'Marca_3', 'Marca_4', 'Marca_5', 'Marca_6', 'Marca_7', 'Marca_8', 'Marca_9', 'Marca_10', 'Marca_38', 'Marca_39', 'Marca_11', 'Marca_12', 'Marca_13', 'Marca_14', 'Marca_15', 'Marca_16', 'Marca_17', 'Marca_18', 'Marca_19', 'Marca_20', 'Marca_21', 'Marca_22', 'Marca_23', 'Marca_24', 'Marca_25', 'Marca_26', 'Marca_27', 'Marca_28', 'Marca_29', 'Marca_30', 'Marca_31', 'Marca_32', 'Marca_33', 'Marca_34', 'Marca_35', 'Marca_36', 'Marca_37']
5 ['Cupo_1', 'Cupo_2', 'Cupo_3', 'Cupo_4', 'Cupo_5']
17 ['CapacidadEnvase_12', 'CapacidadEnvase_10', 'CapacidadEnvase_16', 'CapacidadEnvase_6', 'CapacidadEnvase_17', 'CapacidadEnvase_14', 'CapacidadEnvase_3', 'CapacidadEnvase_5', 'CapacidadEnvase_11', 'CapacidadEnvase_8', 'CapacidadEnvase_9', 'CapacidadEnvase_13', 'CapacidadEnvase_15', 'CapacidadEnvase_7', 'CapacidadEnvase_1', 'CapacidadEnvase_2', 'CapacidadEnvase_4']
11 ['Gerencia_3', 'Gerencia_2', 'Gerencia_4', 'Gerencia_6', 'Gerencia_8', 'Gerencia_9', 'Gerencia_1', 'Gerencia_10', 'Gerencia_11', 'Gerencia_7', 'Gerencia_5']
27 ['Subcanal_1', 'Subcanal_4', 'Subcanal_3', 'Subcanal_2', 'Subcanal_7', 'Subcanal_9', 'Subcanal_6', 'Subcanal_11', 'Subcanal_12', 'Subcanal_8', 'Subcanal_13', 'Subcanal_10', 'Subcanal_5', 'Subcanal_14', 'Subcanal_16', 'Subcanal_21', 'Subcanal_23', 'Subcanal_31', 'Subcanal_26', 'Subcanal_32', 'Subcanal_28', 'Subcanal_15', 'Subcanal_19', 'Subcanal_17', 'Subcanal_20', 'Subcanal_22', 'Subcanal_18']
6 ['Categoria_2', 'Categoria_4', 'Categoria_5', 'Categoria_1', 'Categoria_3', 'Categoria_6']

In [25]:
data.head(5)

,Cliente,Nevera,2019,2020,5,6,7,9,8,10,...,Subcanal_17,Subcanal_20,Subcanal_22,Subcanal_18,Categoria_2,Categoria_4,Categoria_5,Categoria_1,Categoria_3,Categoria_6
0,10,1,1,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,10,1,1,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,10,1,1,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,10,1,1,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,10,1,1,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

pd.Series(data['Año'].index.isin(data[data['Año'] == 2020].index)).apply(probability)

In [26]:
data.loc[0]

Cliente        10
Nevera          1
2019            1
2020            0
5               1
               ..
Categoria_4     0
Categoria_5     0
Categoria_1     0
Categoria_3     0
Categoria_6     0
Name: 0, Length: 124, dtype: int64